<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ex, sed esse rerum sunt ut quisquam neque vitae minima et. Temporibus, id tenetur fugiat sapiente aperiam natus et sunt non!</p>