<div class="home">
    <div clas="container">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, expedita, accusamus, deserunt, natus eum eveniet magnam ab sunt vel culpa libero beatae ad nobis amet nostrum nulla consectetur iste molestias.</p>
        <%= link_to('My Rails application', 'https://github.com/gapra/new_web_app') %>
        <%= link_to('Sign Up Now!', signup_path, class: "gp-btn gp-border-darkgrey") %>
    </div>
</div>

